.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-title{
	font-family: 'Playfair Display', serif;
	font-size: 34px;
	color: #000000;
	text-align: center;
}
.twig_divider {
	text-align: center;
	margin: 45px auto;
}

//1035 px
