a {
	color: $color__link;
	text-decoration: none;

	&:visited {
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__main_green;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

}
.cat-links,
.comments-link,
.edit-link {
	display: none;
}
.more-link{
	background-color: $color__main_green;
	padding: 15px 40px;
	color: #ffffff;
}
.more-link:hover {
	color: #ffffff;
}
